@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.logo {
    width: 20rem;
}

@media (max-width: 1250px) {
    .logo {
        width: 16rem;
    }
}

@media (max-width: 1000px) {
    .logo {
        width: 12rem;
    }
}